[Desktop Entry]
Name=WMix
Comment=Sound Mixer
Comment[pl]=Mikser dźwięku
Exec=wmix
Terminal=false
Type=Application
Categories=X-Docklet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
